*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body{
	font-family: scotch-display, sans-serif;
	font-size: 2vw;
	background-color: black;
	color: white;
}

a{
	text-decoration: none;
	color: #A3C6E3;
}

a:hover{
	text-decoration: none;
	color: white;
}

a:visited{
	text-decoration: none;
	color: #A3C6E3;
}

#title{
	display: flex;
	font-family: modern-love-rough, sans-serif;
	justify-content: center;
	align-items: center;
	height: 80vh;
	margin: 0px;
	background-image: url("IMG_6566.jpg");
	background-size: cover;
	background-position: bottom;
}

#title>h1{
	font-size: 8vw;
	color: #364B65;
	align-self: center;
}

.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: black;
	margin: 2vw;
	padding-left: 50vw;
}

#intro{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5vw;
	font-family: scotch-display, sans-serif;
	font-size: 3vw;
}

#pageTitle{
	margin: 5vw;
	margin-bottom: 2vw;
}

#outputGrid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2.5vw;
	margin: 5vw;
}

#outputGrid>a, #outputGrid>a:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 1.25vw;
  transition: background-color 0.25s;
  border-radius: 5px;
}

#outputGrid>a:hover {
  background-color: #789BBA;
}

.previewTitle {
  font-weight: bold;
  padding: 1vw;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: flex;
}

#projectDisplay{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 5vw;
}

.projectPage{
	display: flex;
}

.projectHeroImage {
  width: 50vw;
  object-fit: cover;
  margin-right: 2vw;
  border-radius: 6px;
}

.description {
  font-size: 3vw;
}