*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body{
	font-family: scotch-display, sans-serif;
	font-size: 2vw;
	background-color: black;
	color: white;
}

a{
	text-decoration: none;
	color: #A3C6E3;
}

a:hover{
	text-decoration: none;
	color: white;
}

a:visited{
	text-decoration: none;
	color: #A3C6E3;
}

#title{
	display: flex;
	font-family: modern-love-rough, sans-serif;
	justify-content: center;
	align-items: center;
	height: 80vh;
	margin: 0px;
	background-image: url("IMG_6566.jpg");
	background-size: cover;
	background-position: bottom;
}

#title>h1{
	font-size: 8vw;
	color: #364B65;
	align-self: center;
}

.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: black;
	margin: 2vw;
	padding-left: 50vw;
}

#intro{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5vw;
	font-family: scotch-display, sans-serif;
	font-size: 3vw;
}

#pageTitle{
	margin: 5vw;
	margin-bottom: 2vw;
}

#outputGrid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2.5vw;
}

#outputGrid>a, #outputGrid>a:visited {
  color: #000;
  text-decoration: none;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 1.25vw;
  transition: background-color 0.25s;
  border-radius: 3px;
}

#outputGrid>a:hover {
  background-color: rgba(255,0,225, 0.1);
}

.previewTitle {
  font-weight: bold;
  margin-bottom: 1.25vw;
}

.thumbnail {
  width: 100%;
  border-radius: 3px;
  display: flex;
}

.projectHeroImage {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  margin-bottom: 2.5vw;
  border-radius: 6px;
  display: flex;
}

.description {
  line-height: 2em;
}